<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da Média</title>
</head>

<body>
    <h1>Resultado</h1>
    <p>A média dos números é: <%= media %>
    </p>
    <a href="/">Voltar</a>
</body>

</html>