<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulação de Lançamento de Moeda</title>
</head>

<body>
    <h1>Resultados da Simulação de Lançamento de Moeda</h1>
    <p>Porcentagem de Caras: <%= porcentagemCaras %>%</p>
    <p>Porcentagem de Coroas: <%= porcentagemCoroas %>%</p>
</body>

</html>